*{
    margin: 0;
    box-sizing: border-box;
}

.tarjeta{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    background-color: #e84118;
}

.datos{
    text-align: center;
    padding: 10px 8px 10px 8px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(0 0 0.2);
    background-color: #e2440f;
}

.h1{
    color: black;
    font-size: 32px;
}

.Dh{
    color:#fff;
    font-size: 29px ;
}

.b1{
    margin-top: 10px;
    color:black;
    padding: 9px 7px 9px 7px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    outline: none;
    background-color: #e4d5d5; 
    margin: 10px;
}
.b1:hover{
    background-color: #96c4e7;
    color: black;
}