body {
  background-image: url(/dima-solomin-sOU09hnONrQ-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  background-size: cover;
  background-attachment: fixed;
}

.email {
  text-align: center;
  padding: 0px 15px;
  color:#fff;
}
.c{
  color:#fff;
}

.p{
  text-align:end;
  color:#ffffff;
}
.l{
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: space-between;
  padding: 4px 0;
}

.in {
  background-color: #cccc;
  width: 100%;
  padding: 10px;
  color: #fff;
  outline: none;
  border: none;
  font-size: 14px;
  border-bottom: 1px solid #050505;
  margin-bottom: 30px;
}

.contenedor {
  text-align: center;
  margin: 100px auto;
  width: 350px;
  padding: 30px;
  background: rgba(3, 3, 3, 0.9);
  border-radius: 10px;
}

.h2 {
  text-align: center;
  padding: 5px;
  color: #ffffff;
}

.b1 {
  color:#fff;
  text-align: center;
  width: 100%;
  border: none;
  text-align: center;
  margin-top: 10px;
  padding: 7px 5px 7px 5px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  outline: none;
  background-color: red;
  margin-bottom: 14px;
}

.b1:hover {
    background-color: #ff2c2c;
    text-transform: uppercase;
    color: rgb(4, 4, 4);
    cursor: pointer;
  }

.in::placeholder{
  color: #fff;
}
@media(max-width: 800px){
  .contenedor {
    width: 250px;
  }
}